<!DOCTYPE html>
<html>
  <head>
    <title>About | Go-Tweeter</title>
  </head>
  <body>
    <h1>About</h1>
    <p>This twitter clone is being developed as a side-project. Any contributors
      are welcome. The main developer of the project, Ashray Sudhir is working as a Product Engineer at Go-Jek Engineering.</p>
  </body>
</html>
